* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body, html {
  height: 100%;
  background: #f2f2f2;
   background: url('../imgs/fondoInicio.png')no-repeat center center/cover
}


.background {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

/* Contenedor principal */
.help-container {
  display: flex;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; 



      
}

 .help-right {
  margin-top: 10em;
  padding: 2rem;
  flex: 1;
    border-radius: 12px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

/* Formulario */
.help-right {
  background-color: #f3f3f3;
}

.help-right h2 {
  color: #0f172a;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #0f172a;
}

form input,
form textarea {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: white;

}

.volver{
      width: 100%;
      text-align: center;
      margin-top: 20px;
      
}
.volver a{
      color: #0bb7f5;
      font-weight: bold;
      text-decoration: none;
}

form button {
  padding: 12px;
  background-color: #0bb7f5;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #069dd9;
}

/* Responsive */
@media (max-width: 900px) {
  .help-container {
    flex-direction: column;
  }
 .help-right {
    padding: 1.5rem;
  }
}
