* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #000;
  background-color: #f9f9f9;
    text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  min-height: 10vh;
  background: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  position: sticky;
  top: 0;
}

/*Logo del header*/
.logo img {
  height: 60px;
}


.logo img {
  height: 55px;
}

.nav a {
      gap: 4px;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 800;
  color: #007bff;
  font-weight: 700;
}
.login-btn {
      margin-left: 4em;
  background-color: #007bff;
  color: white;
  padding: 0.8rem 1rem;
  font-weight: 600;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.bloque {
  background-color: #e4e3e3;
  padding: 40px ;
      width: 100%;
  border-radius: 12px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.06);

}

footer {
  background-color: #333;
  text-align: center;
  padding: 1.5rem;
  color: #ccc;
  margin-top: auto;


}
/* Ajuste del contenedor principal */
main {
  display: flex;
  min-height: 90vh; /* Ajuste dinámico según altura de header y footer */
  background-color: #38a5ff; /* Color azul de la imagen */
}

/* Sección Izquierda */
.contenido-izquierda {
  flex: 1; /* Ocupa el 50% */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Alinea el contenido a la izquierda */
  padding: 0 5%;
  color: white;
  text-align: left;
}

.contenido-izquierda h2 {
  /*outline: 1px solid #000 ;*/
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
}

.contenido-izquierda p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

/* Boton + Informacion */
.info-btn {
  background-color: white;
  color: #007bff;
  padding: 0.8rem 2.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: 300ms;

}

.info-btn:hover{
  color:white ;
  background-color:#007bff ;
}

.info-btn:active{
  transform: translateX(5px);
}

/* Sección Derecha (Imagen) */
.seccion-imagen {
  flex: 2.5; /* Ocupa el otro 50% */
}

.seccion-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Esto hace que la imagen llene el espacio sin deformarse */
  display: block;
}

/* Media query para móviles (opcional) */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .seccion-imagen {
    height: 300px;
  }
}