* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  filter: blur(20);
  min-height: 10vh;
  background: #ffffff23;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo img {
  height: 55px;
}

.nav a {
      gap: 4px;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 800;
  color: #007bff;
  font-weight: 700;
}

.login-btn {
      margin-left: 4em;
  background-color: #007bff;
  color: white;
  padding: 0.8rem 1rem;
  font-weight: 600;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

hero {
  background-image: url('../imgs/fondoInicio.png');
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.llamado_a_la_accion {
  padding: 3rem;
  border-radius: 10px;
  color: white;
  margin-right: auto;
  margin-left: 70px;
  margin-top: -6.5rem;

}

.llamado_a_la_accion h1 {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
  word-spacing: 4px;
}

.cta {
  background-color: #007bff;
  font-weight:500 ;
  border: none;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
}
.cta:hover{
      background: white;
      color: #007bff;
}
.cta:active{
      transform: translateX(5px);

}

.beneficios {
  background-color: #000000;
  color: white;
  padding: 6rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  text-align: center;
}

.beneficio img {
  width: 120px;
  margin-bottom: 1rem;
}

.beneficio h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.beneficio p {
  color: #ccc;
  font-size: 1rem;
}


.carousel {
  outline: 1px solid;
  position: relative;
  width: 1000px;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel img {
  width: 100%;
  border-radius: 10px;
}



.swiper-slide img {
  width: 100%;
  border-radius: 10px;
}

.swiper-button-prev, .swiper-button-next {
  color: #979797;
  
}

.swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.8);
}

.carousel-btn {
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-btn:hover {
  background-color: rgba(0,0,0,0.8);
}

.left {
  left: -90px;
}

.right {
  right: -90px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2C2C2C;
  padding: 4% 0px;
}
.flex h1{
  font-size: 6rem;
  font-weight: 500;
  color: #FFFFFF;
}
.flex input[type="button"]{
  background: #0979A9;
  color: #383838;
  border: none;
  border-radius: 5px;
  font-size: 40px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
.flex input[type="button"]:hover{
  transition: 300ms;
  color: #f7eeee;
  background:#0f9bd6 ;
}
.flex img{
  margin: 0rem 7rem;
  width: 150px;
}
